<div id="<%= dom_id user %>" class="mb-4">
  <p class="text-gray-700 font-semibold mb-2">
    <span class="text-gray-500">Email:</span> <%= user.email_address %>
  </p>
  <p class="text-gray-700">
    <span class="text-gray-500">Timezone:</span> <%= user.timezone %>
  </p>
</div>
